@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer base{
    body{
        background-color: black;
    }
} */
 
.no-scrollbar::-webkit-scrollbar {
    display: none
}

.no-scrollbar{
    -ms-overflow-style:none;
    scrollbar-width:none;
}